# Ignore large files 
__pycache__/ 
*.h5 
*.npy 
*.pkl 
Dataset/ 
* 
!*.py 
!*.txt 
!.gitignore 
!10_classes/ 
!15_classes/ 
!10_classes/* 
!15_classes/* 
* 
!*.py 
!*.txt 
!.gitignore 
!10_classes/ 
!15_classes/ 
!10_classes/* 
!15_classes/* 
!*.md 
